<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student-CRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentBean</display-name>
    <servlet-name>StudentBean</servlet-name>
    <servlet-class>com.bean.StudentBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBean</servlet-name>
    <url-pattern>/StudentBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseBean</display-name>
    <servlet-name>CourseBean</servlet-name>
    <servlet-class>com.bean.CourseBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseBean</servlet-name>
    <url-pattern>/CourseBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentController</display-name>
    <servlet-name>AddStudentController</servlet-name>
    <servlet-class>com.controller.AddStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentController</servlet-name>
    <url-pattern>/AddStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListController</display-name>
    <servlet-name>StudentListController</servlet-name>
    <servlet-class>com.controller.StudentListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListController</servlet-name>
    <url-pattern>/StudentListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDao</display-name>
    <servlet-name>CourseDao</servlet-name>
    <servlet-class>com.dao.CourseDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDao</servlet-name>
    <url-pattern>/CourseDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDao</display-name>
    <servlet-name>StudentDao</servlet-name>
    <servlet-class>com.dao.StudentDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDao</servlet-name>
    <url-pattern>/StudentDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.util.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseService</display-name>
    <servlet-name>CourseService</servlet-name>
    <servlet-class>com.service.CourseService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseService</servlet-name>
    <url-pattern>/CourseService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentService</display-name>
    <servlet-name>StudentService</servlet-name>
    <servlet-class>com.service.StudentService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentService</servlet-name>
    <url-pattern>/StudentService</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CountFilter</display-name>
    <filter-name>CountFilter</filter-name>
    <filter-class>com.filter.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Counting</display-name>
    <servlet-name>Counting</servlet-name>
    <servlet-class>com.controller.Counting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Counting</servlet-name>
    <url-pattern>/Counting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoController</display-name>
    <servlet-name>DemoController</servlet-name>
    <servlet-class>com.controller.DemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoController</servlet-name>
    <url-pattern>/DemoController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.filter.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <url-pattern>/DemoController</url-pattern>
  </filter-mapping>
  
  <filter>
    <display-name>IPFilter</display-name>
    <filter-name>IPFilter</filter-name>
    <filter-class>com.filter.IPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IPFilter</filter-name>
    <url-pattern>/Counting</url-pattern>
  </filter-mapping>
</web-app>